In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("GroupeA/notesL1A.txt",sep=",",index_col=["nom","prenom"])
df.index = df.index.map(lambda x:(x[0].lower(),x[1].lower()))
df = df.sort_index()
df["qcm"] = df["qcm"].map(lambda x: eval(x))
df["exo"] = df["exo"].map(lambda x: eval(x))
df["notes"] = (df["qcm"] + df["exo"]).map(lambda x: min(x,20))
df.to_csv("notesDMFinalL1A.csv")
print(round(df["notes"].mean(),2),round(df["notes"].std(),2))
df

10.56 6.12

                                 qcm    exo  notes
nom                  prenom
ambrossio            lea maria  5.33   4.00   9.33
bal                  alexandre  5.50   0.00   5.50
blauwblomme          ilan       7.16   3.00  10.16
bonnet               margaux    9.50  14.50  20.00
boudrissa            mahiedine  8.50   8.50  17.00
boyaval              julie      8.00  10.00  18.00
brezac               karen      7.33   5.00  12.33
cazeaux              victor     5.50   3.50   9.00
cherigui             leyla      0.00   0.00   0.00
delcroix             arthur     6.00   4.50  10.50
dennemont            julien     7.83   2.00   9.83
el zoghbi            rudy       8.83   2.00  10.83
fabre                emylien    0.00   0.00   0.00
foucault             antoine    8.16  11.00  19.16
galtier              erwan      8.16  10.00  18.16
géneau de lamarlière théo       4.50   7.00  11.50
halter               naomie     9.50   7.50  17.00
horrenberger         romain     5.16   6.00  11.16
kalistas             jannine    7.25   1.00   8.25
lefebvre             elisa      7.50   4.50  12.00
lenglen              adam       7.00   6.50  13.50
lestriez             hugo       7.50   4.50  12.00
maigre               mathilde   6.00   4.50  10.50
marechal             lucie      0.00   0.00   0.00
ouarghi              sofia      0.00   0.00   0.00
piriou               hugo       0.00   0.00   0.00
pruvos               mathilde   8.83   6.00  14.83
rakotoarisoa         celia      6.50   8.75  15.25

In [3]:
df.sort_values("notes")

                                 qcm    exo  notes
nom                  prenom
piriou               hugo       0.00   0.00   0.00
ouarghi              sofia      0.00   0.00   0.00
marechal             lucie      0.00   0.00   0.00
fabre                emylien    0.00   0.00   0.00
cherigui             leyla      0.00   0.00   0.00
bal                  alexandre  5.50   0.00   5.50
kalistas             jannine    7.25   1.00   8.25
cazeaux              victor     5.50   3.50   9.00
ambrossio            lea maria  5.33   4.00   9.33
dennemont            julien     7.83   2.00   9.83
blauwblomme          ilan       7.16   3.00  10.16
maigre               mathilde   6.00   4.50  10.50
delcroix             arthur     6.00   4.50  10.50
el zoghbi            rudy       8.83   2.00  10.83
horrenberger         romain     5.16   6.00  11.16
géneau de lamarlière théo       4.50   7.00  11.50
lefebvre             elisa      7.50   4.50  12.00
lestriez             hugo       7.50   4.50  12.00
brezac               karen      7.33   5.00  12.33
lenglen              adam       7.00   6.50  13.50
pruvos               mathilde   8.83   6.00  14.83
rakotoarisoa         celia      6.50   8.75  15.25
boudrissa            mahiedine  8.50   8.50  17.00
halter               naomie     9.50   7.50  17.00
boyaval              julie      8.00  10.00  18.00
galtier              erwan      8.16  10.00  18.16
foucault             antoine    8.16  11.00  19.16
bonnet               margaux    9.50  14.50  20.00

In [16]:
df = pd.read_csv("GroupeC/notesL1C.txt",sep=",",index_col=["nom","prenom"])
df.index = df.index.map(lambda x:(x[0].lower(),x[1].lower()))
df = df.sort_index()
df["qcm"] = df["qcm"].map(lambda x: eval(x))
df["exo"] = df["exo"].map(lambda x: eval(x))
df["notes"] = (df["qcm"] + df["exo"]).map(lambda x: min(x,20))
df.to_csv("notesDMFinalL1C.csv")
print(round(df["notes"].mean(),2),round(df["notes"].std(),2))
df

10.56 5.79

                                   qcm   exo  notes
nom             prenom
 amrane         lisa              8.50   7.5  16.00
binauld         mathis            7.00   7.5  14.50
bourbigot       sophie            7.00  12.0  19.00
courgey         coline            4.66   4.5   9.16
delhaye         simon             3.91   2.0   5.91
dierickx        axelle            4.00   6.5  10.50
duval           océane            6.66   7.5  14.16
el adli         widad             0.00   0.0   0.00
galiegue        basile            6.50   6.5  13.00
garcia          matthieu          7.50  17.0  20.00
gaubil          louis             0.00   0.0   0.00
ivelou          noëmie            4.50   0.0   4.50
jaillet         paul              7.50   7.0  14.50
karminski       krissy            0.00   0.0   0.00
laden           enora             5.50   5.0  10.50
lebrun          baptiste          6.75   3.5  10.25
lecocq          anaïs             6.50   7.0  13.50
leviez-deblauwe lola              6.16   5.0  11.16
massa           theo              6.24   4.0  10.24
menet           charles           6.00   5.5  11.50
mignot          antoine           3.66   9.0  12.66
quipourt        quitterie         6.50   8.5  15.00
ruotte          ugo               8.83   3.5  12.33
rutgers         shiera(chadwick)  6.50   2.5   9.00
récolet         théophile         6.00  13.5  19.50
vanas           julien            0.00   0.0   0.00
vandamme        simon             6.33   2.0   8.33

In [19]:
df = pd.read_csv("GroupeB/notesL1B.txt",sep=",",index_col=["nom","prenom"])
df.index = df.index.map(lambda x:(x[0].lower(),x[1].lower()))
df = df.sort_index()
df["qcm"] = df["qcm"].map(lambda x: eval(x))
df["exo"] = df["exo"].map(lambda x: eval(x))
df["notes"] = (df["qcm"] + df["exo"]).map(lambda x: min(x,20))
df.to_csv("notesDMFinalL1B.csv")
print(round(df["notes"].mean(),2),round(df["notes"].std(),2))
df

9.22 6.62

                             qcm   exo  notes
nom             prenom
 reynaert       safran      6.16   6.5  12.66
 roussard       manon       8.83   4.5  13.33
 tsomene        florian     0.00   0.0   0.00
antonik         théo        3.16   1.0   4.16
baert           lou-anne    0.00   0.0   0.00
becu            morgane     8.83   3.5  12.33
berjat          juliette    8.66   7.0  15.66
defebvre        tom         0.00   0.0   0.00
delcambre       léopold     4.41   3.5   7.91
delcroix        gabriel     7.50   9.5  17.00
delehaye        clarence    5.00   4.0   9.00
elise           nimlot      0.00   0.0   0.00
feutrie         mathilde    4.66   2.0   6.66
gouriou         romuald     4.16  13.5  17.66
guerard         emma        7.16   1.0   8.16
hadjailia       slimane     0.00   0.0   0.00
jelmoni         lucie       7.66  13.5  20.00
laget           cyann       0.00   0.0   0.00
laurent         ambre       8.00  10.5  18.50
le calvé        pauline     5.16   6.0  11.16
lecocq          arthur      6.16   5.5  11.66
logez           thomas      0.00   0.0   0.00
maire           romane      7.16   3.0  10.16
monlouis        marina      4.16   7.0  11.16
njike ngassam   rick vanel  6.50   5.0  11.50
orpin           constance   6.50   2.0   8.50
piercourt       charles     8.50  12.5  20.00
prince agbodjan séréna      7.99   3.0  10.99

In [23]:
df = pd.read_csv("../../L2Enjambement/notesL2.txt",sep=",",index_col=["nom","prenom"])
df.index = df.index.map(lambda x:(x[0].lower(),x[1].lower()))
df = df.sort_index()
df["qcm"] = df["qcm"].map(lambda x: eval(x))
df["exo"] = df["exo"].map(lambda x: eval(x))
df["notes"] = (df["qcm"] + df["exo"]).map(lambda x: min(x,20))
df.to_csv("notesDMFinalL2.csv")
print(round(df["notes"].mean(),2),round(df["notes"].std(),2))
df

12.04 6.0

                       qcm   exo  notes
nom       prenom
 couton   paul-louis  7.00  15.0  20.00
 desplats sully       7.50   5.5  13.00
 moisan   padre       5.50   3.5   9.00
dupere    keran       6.16   0.0   6.16