In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("GroupeA/notesL1A.txt",sep=",",index_col=["nom","prenom"])
df.index = df.index.map(lambda x:(x[0].lower(),x[1].lower()))
df = df.sort_index()
df["qcm"] = df["qcm"].map(lambda x: eval(x))
df["exo"] = df["exo"].map(lambda x: eval(x))
df["notes"] = (df["qcm"] + df["exo"] ).map(lambda x: min(x if x==0  else x+0.5,20))
df.to_csv("notesDMFinalL1A.csv")
print(round(df["notes"].mean(),2),round(df["notes"].std(),2))
df

10.64 6.57

                                  qcm    exo  notes
nom                   prenom
 ambrossio            lea maria  5.33   4.00   9.83
 bal                  alexandre  5.50   0.00   6.00
 blauwblomme          ilan       7.16   3.00  10.66
 bonnet               margaux    9.50  14.50  20.00
 boudrissa            mahiedine  8.50   8.50  17.50
 boyaval              julie      8.00  10.00  18.50
 brezac               karen      7.33   5.00  12.83
 cazeaux              victor     5.50   3.50   9.50
 cherigui             leyla      0.00   0.00   0.00
 delcroix             arthur     6.00   4.50  11.00
 fabre                emylien    0.00   0.00   0.00
 foucault             antoine    8.16  11.00  19.66
 galtier              erwan      8.16  10.00  18.66
 géneau de lamarlière théo       4.50   7.00  12.00
 halter               naomie     9.50   7.50  17.50
 horrenberger         romain     5.16   6.00  11.66
 kalistas             jannine    0.00   0.00   0.00
 lefebvre             elisa      7.50   4.50  12.50
 lenglen              adam       7.00   6.50  14.00
 lestriez             hugo       7.50   4.50  12.50
 maigre               mathilde   6.00   4.50  11.00
 marechal             lucie      0.00   0.00   0.00
 ouarghi              sofia      0.00   0.00   0.00
 piriou               hugo       0.00   0.00   0.00
 pruvos               mathilde   8.83   6.00  15.33
 rakotoarisoa         celia      6.50   8.75  15.75
dennemont             julien     7.83   2.00  10.33
el zoghbi             rudy       8.83   2.00  11.33

In [21]:
df = pd.read_csv("GroupeC/notesL1C.txt",sep=",",index_col=["nom","prenom"])
df.index = df.index.map(lambda x:(x[0].lower(),x[1].lower()))
df = df.sort_index()
df["qcm"] = df["qcm"].map(lambda x: eval(x))
df["exo"] = df["exo"].map(lambda x: eval(x))
df["notes"] = (df["qcm"] + df["exo"]).map(lambda x: min(x if x==0  else x+0.5,20))
df.to_csv("notesDMFinalL1C.csv")
print(round(df["notes"].mean(),2),round(df["notes"].std(),2))
df

11.43 5.48

                                   qcm   exo  notes
nom             prenom
 amrane         lisa              8.50   7.5  16.50
binauld         mathis            7.00   7.5  15.00
bourbigot       sophie            7.00  12.0  19.50
courgey         coline            4.66   4.5   9.66
delhaye         simon             3.91   2.0   6.41
dierickx        axelle            4.00   6.5  11.00
duval           océane            6.66   7.5  14.66
el adli         widad             0.00   0.0   0.00
galiegue        basile            6.50   6.5  13.50
garcia          matthieu          7.50  17.0  20.00
gaubil          louis             0.00   0.0   0.00
ivelou          noëmie            4.50   0.0   5.00
jaillet         paul              7.50   7.0  15.00
karminski       krissy            0.00   0.0   0.00
laden           enora             5.50   5.0  11.00
lebrun          baptiste          6.75   3.5  10.75
lecocq          anaïs             6.50   7.0  14.00
leviez-deblauwe lola              6.16   5.0  11.66
massa           theo              6.24   4.0  10.74
menet           charles           6.00   5.5  12.00
mignot          antoine           3.66   9.0  13.16
quipourt        quitterie         6.50   8.5  15.50
ruotte          ugo               8.83   3.5  12.83
rutgers         shiera(chadwick)  6.50   2.5   9.50
récolet         théophile         6.00  13.5  20.00
vanas           julien            6.00   6.0  12.50
vandamme        simon             6.33   2.0   8.83

In [20]:
df = pd.read_csv("GroupeB/notesL1B.txt",sep=",",index_col=["nom","prenom"])
df.index = df.index.map(lambda x:(x[0].lower(),x[1].lower()))
df = df.sort_index()
df["qcm"] = df["qcm"].map(lambda x: eval(x))
df["exo"] = df["exo"].map(lambda x: eval(x))
df["notes"] = (df["qcm"] + df["exo"]).map(lambda x: min(x if x==0  else x+0.5,20))
df.to_csv("notesDMFinalL1B.csv")
print(round(df["notes"].mean(),2),round(df["notes"].std(),2))
df

11.66 5.74

                             qcm   exo  notes
nom             prenom
antonik         théo        3.16   1.0   4.66
baert           lou-anne    5.16   7.5  13.16
becu            morgane     8.83   3.5  12.83
berjat          juliette    8.66   7.0  16.16
defebvre        tom         0.00   0.0   0.00
delcambre       léopold     4.41   3.5   8.41
delcroix        gabriel     7.50   9.5  17.50
delehaye        clarence    5.00   4.0   9.50
elise           nimlot      9.50  10.0  20.00
feutrie         mathilde    4.66   2.0   7.16
gouriou         romuald     4.16  13.5  18.16
guerard         emma        7.16   1.0   8.66
hadjailia       slimane     0.00   0.0   0.00
jelmoni         lucie       7.66  13.5  20.00
laget           cyann       5.16   7.5  13.16
laurent         ambre       8.50  10.5  19.50
le calvé        pauline     5.66   6.0  12.16
lecocq          arthur      6.16   5.5  12.16
logez           thomas      0.00   0.0   0.00
maire           romane      7.16   3.0  10.66
monlouis        marina      4.16   7.0  11.66
njike ngassam   rick vanel  6.50   5.0  12.00
orpin           constance   6.50   2.0   9.00
piercourt       charles     8.50  12.5  20.00
prince agbodjan séréna      7.99   3.0  11.49
reynaert        safran      6.16   6.5  13.16
roussard        manon       8.83   4.5  13.83
tsomene         florian     6.00   5.0  11.50

In [17]:
df = pd.read_csv("../../L2Enjambement/notesL2.txt",sep=",",index_col=["nom","prenom"])
df.index = df.index.map(lambda x:(x[0].lower(),x[1].lower()))
df = df.sort_index()
df["qcm"] = df["qcm"].map(lambda x: eval(x))
df["exo"] = df["exo"].map(lambda x: eval(x))
df["notes"] = (df["qcm"] + df["exo"]).map(lambda x: min(x,20))
df.to_csv("notesDMFinalL2.csv")
print(round(df["notes"].mean(),2),round(df["notes"].std(),2))
df

12.04 6.0

                       qcm   exo  notes
nom       prenom
 couton   paul-louis  7.00  15.0  20.00
 desplats sully       7.50   5.5  13.00
 moisan   padre       5.50   3.5   9.00
dupere    keran       6.16   0.0   6.16

In [12]:
x= 0.5
print()

1.0